# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/front-Angular/e-commerce-REST/dist
/front-Angular/e-commerce-REST/tmp
/front-Angular/e-commerce-REST/out-tsc
/front-Angular/e-commerce-REST/bazel-out

# Node
/front-Angular/e-commerce-REST/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/front-Angular/e-commerce-REST/.vscode/*
/front-Angular/e-commerce-REST/!.vscode/settings.json
/front-Angular/e-commerce-REST/!.vscode/tasks.json
/front-Angular/e-commerce-REST/!.vscode/launch.json
/front-Angular/e-commerce-REST/!.vscode/extensions.json
/front-Angular/e-commerce-REST/.history/*

# Miscellaneous
/front-Angular/e-commerce-REST/.angular/cache
/front-Angular/e-commerce-REST/.sass-cache/
/front-Angular/e-commerce-REST/connect.lock
/front-Angular/e-commerce-REST/coverage
/front-Angular/e-commerce-REST/libpeerconnection.log
testem.log
/front-Angular/e-commerce-REST/typings

# System files
.DS_Store
Thumbs.db

# Java class files
*.class

# Archivos del profe Pineda
/Servicio/servicio_json
/Servicio/servicio_url
/Servicio/node_modules
compila_json.sh
compila_url.sh
servicio.txt
